html { /*Importamos tipografias*/
    font-family: "Montserrat", sans-serif; 
}

body{ /*Estilo del cuerpo*/
    margin: 0;
    background-color: #efefef;
}

header{ /*Encabezado del blog*/
    background-color: #364552;
    color: white;
    padding: 2rem 2rem;
}

header h1{ /*Estilo del h1*/
    font-size: 2rem;
    text-align: center;
}

.container{ /*Estilo de la clase, centrando el contenido*/
    width: 400px;
    margin: 0 auto;
}

section article{ /*Apariencia de tarjetas al contenido con trasicion*/
    transition: box-shadow 0.3s ease;
    background-color: white;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0,7);
}

section article h2, section article p{
    margin: 1rem;
}

footer{
    background-color: #222;
    padding: 3rem;
    color: #ffff;
}

footer section{
    float: right;
}

footer p{
    margin: 0;
    padding: 0rem;
}

footer a{
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
    padding-left: 2rem;
}

footer a:hover{
    color: aqua;
}
