body{
    background-color: #eee;
}

.caja{
    background-color: #eee;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
    border-top: solid 0px;
}

.contenido{
    padding: 10px;
}

.footer{
    padding: 10px;
    border-top: solid 1px #eee;
}

.button1{
    background-color: aqua;
    color: black;
    border: 0px;
    padding: 4px;
}

.button2{
    background-color: gainsboro;
    color: black;
    border: 0px;
    padding: 4px;
}