body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0%;
    margin: 0%;
}

/* Barra principal  */
#text_primary {
    margin: 0%;
    padding: 0%;
}

nav {
    background-color: black;
    color: white;
    width: 100%;
}

nav .barra {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
}

nav a:hover {
    color: black;
    background-color: aqua;
}

nav .primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

/* Texto central */
div .text{
    text-align: center;
    margin: 0%;
    padding-top: 2%;
}

div .parrafo{
    text-align: center;
    margin: 0%;
    padding: 0%;
    padding-top: 1%;
}

/* Tarjetas */
.container {
    display:flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.card {
    position: relative; /* Permite despalsar la caja */
    width: 300px;
    height: 350px;
    margin: 20px;
}

.card .face {
    position: absolute; /* Puede estar sobre objetos */
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* Deja que se vea una cara */
    border-radius: 10px;
    overflow: hidden; /* Dibuja barras de desplasamiento */
    transition: .5s; /* Una transición de 0.5s */
}

.card .front {
    transform: perspective(600px) rotateY(0deg); /*Redimenciona en su propio espacio */ 
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* indica cómo el contenido de un elemento reemplazado por una imagen o video*/
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px; /* Espacios quue entre las letras */
}

.card .back p {
    letter-spacing: 1px;
} 

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}