* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    /* vh (viewport-height) = Altura de la ventana gráfica. 
    vw (viewport-width) = Anchura de la ventana gráfica. */
    font-family: sans-serif;
    background-color: rgb(210, 213, 224);
}

/* Llamamos la clase se form */
.form-body{
    width: 400px;
    min-width: 300px;
    border-radius: 15px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 70px;
    border: solid 1px rgb(0, 0, 0);
    margin: 5px;
    
}

.form-body img{
    width: 150px;
    display: block;
    margin: 20px auto;
}

.texto{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-bottom: 25px;
}

.form-body input{
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    outline: none;
}

.form-body input[type="password"]{
    margin-top: 20px;
}

.form-body input[type="email"]{
    margin-top: 20px;
}


::placeholder{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.596);    
}

.form-body input:hover{
    transition: .5s;
    border: 1px solid #000000;
    color: 2498bd;    
}

.form-body button{
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    height: 40px;
    width: 78%;
    background: transparent;
    color: #000000;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    transition: all .5s ease;
}

.form-body button:hover{
    color: #000000;
    border: 1px solid #ffffff;
}

#register{
    text-align: center;
    
}
