body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}

/* Barra principal  */
nav {
    background-color: black;
    color: white;
    width: 100%;
}

nav .barra {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

nav a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
}

nav a:hover {
    color: black;
    background-color: aqua;
}

nav .primary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

/* Texto central */
div .text{
    text-align: center;
    margin: 0%;
    padding-top: 2%;

}

div .parrafo{
    text-align: center;
    margin: 0%;
    padding: 0%;
    padding-top: 1%;
}

/* Tarjetas */
.container {
    padding: 20px;
    display: flex;
    flex-direction: wrap;
    justify-content: space-evenly;
    padding-top: 50px;
}

.box {
    /* border: 2px solid rgb(43, 43, 43);
    background-color: white; */
    color: black;
    width: 200px;
    margin: 5px;
    text-align: center;
    background-color: #efefef;
    border-radius: 2rem;
}